@model CoreTest.Entity.Models.MatchMasterBm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
}



@if (Model != null)
{
    <br />
    <div>
        @Model.Code
        <br />
        @Model.Content

    </div>


    <div>
        <h2>点击量：@await Component.InvokeAsync("Counter")</h2>
        <h2>排行榜：@await Component.InvokeAsync("Rank")</h2>
    </div>


}
else
{
    <div>暂无数据</div>
}


