@model List<CoreTest.Entity.Models.User>;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
    List<CoreTest.Entity.Models.User> listUser = ViewData["userList"] as List<CoreTest.Entity.Models.User>;
}


<br />
<h1>您目前在首页</h1>
<table class="layui-table" style="width:80%;text-align:center;margin:0 auto;">
    <tr><th>序列</th></tr>
    <tr><td><a href="/home/IndexLayUI">LayUI翻页</a></td></tr>
    <tr><td><a href="/home/IndexTable">MVC翻页</a></td></tr>
    <tr><td><a href="/home/IndexRedis">Redis实例</a></td></tr>
    <tr><td><a href="/order/index">订单</a></td></tr>

</table>

