@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model X.PagedList.PagedList<CoreTest.Entity.Models.SysUser>;


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
    List<CoreTest.Entity.Models.User> listUser = ViewData["userList"] as List<CoreTest.Entity.Models.User>;
}


<link href="~/css/all.min.css" rel="stylesheet" />
<script src="~/lib/layui/layui.js"></script>

<div>
    <h1>@ViewBag.name</h1>
    @*<h2>计数器：@await Component.InvokeAsync("Counter")</h2>*@
    <h2>排行榜：@await Component.InvokeAsync("Rank")</h2>
</div>
