@model List<CoreTest.Entity.Models.User>;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Index";
    List<CoreTest.Entity.Models.User> listUser = ViewData["userList"] as List<CoreTest.Entity.Models.User>;
}

<link href="~/css/all.min.css" rel="stylesheet" />
<script src="~/lib/layui/layui.js"></script>

<div>@ViewBag.dtNow</div>

<table class="layui-hide" id="testTable"></table>



<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            elem: '#testTable',
            url: '@Url.Action("GetSysUser", "Home")', //数据接口
            cellMinWidth: 80,
            page: { //支持传入 laypage 组件的所有参数（某些参数除外，如：jump/elem） - 详见文档
                layout: ['limit', 'count', 'prev', 'page', 'next', 'skip'],//自定义分页布局
                //,curr: 5 //设定初始在第 5 页
                groups: 1, //只显示 1 个连续页码
                first: false,  //不显示首页
                last: false //不显示尾页
                
            }
            , limit:5000
            , cols: [[
                 { field: 'id',title: 'ID', sort: true }
                , { field: 'matchInfo', title: '用户名' }
                , { field: 'type', title: '密码', sort: true }
            ]]

        });
    });
</script>