@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>500</title>
    <link rel="stylesheet" href="/Content/css/reset.css">
    <link rel="stylesheet" href="/Content/css/main.css">
</head>

<body>
    <div class="not-found-box">
        <div class="not-found-info">
            <div class="logo">
                <a href="">
                    <img src="/Content/images/header_logo.png" alt="">
                </a>
            </div>
            <img src="/Content/images/500.png" alt="">
            <h4>服务器错误，不能执行该请求。</h4>
        </div>
        <p>Copyright&nbsp;©&nbsp;2020-2021&nbsp;&nbsp;YYU&nbsp;&nbsp;&nbsp;沪ICP证050897号&nbsp;-&nbsp;沪公网安备11000002000025号</p>
    </div>
</body>

</html>